@import 'tailwindcss';

:root {
  --bg-app: #f8fafc;
  --bg-sidebar: #ffffff;
  --bg-hover: #f1f5f9;
  --bg-active: #e2e8f0;

  --text-main: #0f172a;
  --text-muted: #64748b;

  --border-line: #e2e8f0;

  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
}

:root.dark {
  --bg-app: #020617;
  --bg-sidebar: #0f172a;
  --bg-hover: #1e293b;
  --bg-active: #334155;

  --text-main: #f8fafc;
  --text-muted: #94a3b8;

  --border-line: #1e293b;

  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
}

body {
  min-height: 100vh;
  background-color: var(--bg-app);
  color: var(--text-main);

  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
              color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
              border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}